@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* =======================================
General Styling
======================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Inter', sans-serif;
}

img {
  width: 100%;
}

.filter-section {
  padding: 30px 60px;
  transition: 1.3s;
}

.controls ul {
  text-align: center;
}

.controls ul li {
  color: #f1f1f1;
  opacity: .7;
  background: transparent;
  display: inline;
  padding: 12px 16px;
  margin: 0 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.controls ul li:hover,
.controls ul li.active {
  text-decoration: underline solid white 2px;
  text-underline-offset: 0.5rem;
  opacity: 1;
}

.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.item-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

}

.item-grid .item {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .item-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media  (max-width: 991px) {
  .item-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}