* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-inline: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.gallery-filter {
  text-align: center;
}

.gallery-btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(0, 247, 255);
  padding: 10px 15px;
}

.gallery-btn.active {
  background-color: rgb(186, 245, 128);
}

.gallery-item {
  display: block;
}

.gallery-content {
  /* overflow: hidden; */
  column-count: 3;
  gap: 10px;
  margin-top: 30px;
  height: 100% !important;
}

.gallery-item-wrapper,
.grid-sizer {
  display: none;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.gallery-item {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.gallery-item img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1023px) {
  .gallery-content {
    column-count: 2;
  }
}
@media (max-width: 639px) {
  .gallery-content {
    column-count: 1;
  }
}
