* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #191e26b3;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

.logo-slider-sec{
/* border-block: 1px solid rgb(224, 224, 224); */
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
background-color: #ffffff;
box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 8px;;
}

.logo-slider {
  width: 45%;
  height: 100%;
  border-inline:1px solid rgb(224, 224, 224);
  padding-block: 0px;
}

.logo-wrapper{
  width:10%;
  color: white;
  padding-inline: 10px;
}

.slider-logo-img {
  width: 100%;
  aspect-ratio: 1/1; /* Keeps the container square */
  display: flex;
  height: fit-content;
  max-height: 30px;
}

.slider-logo-img img {
  width:100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* .compny-logo{
  height: 40px;
} */

.compny-logo img{
  width: 100%;
  height: 100%;
}

.logo-slider-sec-2{
  margin-bottom: 50px;
  padding-block: 100px;
}

.slide-logo img {
  height: 100%;
  width: 100%;
}

.slide-logo-2 img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.slide-logo-2 {
  border-radius: 10px;
  background-color: bisque;
  padding: 10px 16px;
  height: 100%;
}

.text-slider {
  padding: 10px;
  background-color: #07cc74;
  transform: skewY(-6deg);
}

.text-slider-2 {
  padding: 10px;
  background-color: #07cc74;
  transform: skewY(6deg);
}

.text-slide-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.star-img img {
  height: 100%;
  width: 100%;
}

.star-img {
  height: 30px;
  width: 30px;
}
.logo-slider-3 {
  position: relative;
  z-index: 1;
}

.logo-slider-3::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 98, 184);
  z-index: 3;
  top: 0;
}

.logo-slider-left {
  margin-bottom: 20px;
}

.text-slider-3,.text-slider-4 ,.text-slider-5{
  padding-block:10px ;
  margin-bottom: 0px;
  border-block: 1px solid;

}

@media (max-width:1023px) {
  .logo-slider {
    width: 41%;
  }
  
  .logo-wrapper{
    width:18%;
  }
}

@media (max-width:639px) {
  .logo-slider-sec{
    flex-direction: column;
    gap: 16px;
  }

  .logo-slider {
    width: 100%;
  }
  
  .logo-wrapper{
    display: none;
  }
}