* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #191e26b3;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

.sec-padding {
  padding-block: 150px;
}


/* From Uiverse.io by Yaya12085 */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #07cc74;
  border: 1px solid #07cc74;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

.switch-tag {
  font-size: 18px;
  font-weight: 600;
  color: black;
  display: inline-block;
  line-height: 1;
}

.yearly{
  display: none;
}
.pricing-wrapper {
  padding-top:80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pricing-card-wrep {
  position: relative;
  z-index: 1;
}

.pricing-card {
  border: 1px solid #ebebeb;
  padding-inline: 20px;
  padding-top: 80px;
  padding-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.pricing-card::after {
  content: "";
  background-color: #002a4d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  aspect-ratio: 1/1;
  transform: scale(0);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
  --s: 8px; /* control the size*/
  --c1: #051624;
  --c2: #000000;
  background: linear-gradient(135deg, #0000 18.75%, var(--c1) 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, var(--c1) -6.25% 6.25%, var(--c2) 0 18.75%);
  background-size: var(--s) var(--s);
  /* background-size: cover; */
}

.pricing-card-wrep:hover .pricing-card::after {
  transform: scale(3);
  opacity: 1;
  visibility: visible;
}

.pricing-card-wrep:hover .card-type,
.pricing-card-wrep:hover .pricing-desc,
.pricing-card-wrep:hover .pricing-list-item {
  color: #ffffff;
}

.pricing-card-wrep:hover .btn-primary {
  background-color: #feea00;
  color: #000;
}

.pricing-card-wrep:hover .btn-seconary::after {
  background-color: #000;
}

.pricing-tag {
  position: absolute;
  z-index: 3;
  top: -40px;
  right: 20px;
  background-color: #07cc74;
  color: #000000;
  padding: 20px 20px 40px 20px;
  border-radius: 8px;
  text-align: center;
  width: fit-content;
  transition: clip-path 0.5s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 69%, 50% 100%, 0 69%);
}

.pricing-card-wrep:hover .pricing-tag {
  clip-path: polygon(0 0, 100% 0, 100% 69%, 50% 100%, 0 69%);
}

.pricing-number {
  font-size: 30px;
  transition: color 0.5s ease-in-out;
}

.pricing-life {
  font-size: 18px;
}

.card-type-icon {
  background-color: #07cc74;
  width: fit-content;
  padding: 12px 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-type-icon img {
  width: auto;
  display: block;
  height: 22px;
}

.card-type-wrepr {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-type {
  color: black;
  transition: color 0.5s ease-in-out;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

.pricing-desc {
  margin-bottom: 20px;
}

.pricing-desc p {
  transition: color 0.5s ease-in-out;
}

.btn-primary,
.btn-seconary {
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  background-color: #000;
  text-align: center;
  padding: 12px 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.btn-primary::after,
.btn-seconary::after {
  content: " ";
  height: 100%;
  width: 0;
  position: absolute;
  background-color: #07cc74;
  transition: all 0.4s ease-in-out;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-primary:hover::after,
.btn-seconary :hover::after {
  width: 100%;
  left: 0;
}

.pricing-list {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ebebeb;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 24px;
}

.pricing-list-item {
  color: #000000;
  transition: color 0.5s ease-in-out;
  display: flex;
  gap: 8px;
}

.pricing-list-item::before {
  content: "";
  background-image: url(../images/right-icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
}

.pricing-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.popular-pricing .pricing-card {
  background-color: #07cc731a;
}

.popular-pricing .pricing-tag {
  background-color: #002a4d;
  color: white;
}

.popular-tag {
  background-color: #07cc74;
  color: white;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 30px;
  width: fit-content;
  position: absolute;
  top: -18px;
  left: 24px;
  z-index: 1;
}

@media (max-width: 1023px) {
  .pricing-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-tag {
    top: -22px;
  }
  .pricing-number {
    font-size: 22px;
  }
  .pricing-life {
    font-size: 14px;
  }

  .card-type {
    font-size: 20px;
  }
}

@media (max-width: 639px) {
  .pricing-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
