* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #191e26b3;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

.sec-padding {
  padding-block: 150px;
}

/* From Uiverse.io by Yaya12085 */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #07cc74;
  border: 1px solid #07cc74;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

.switch-tag {
  font-size: 18px;
  font-weight: 600;
  color: black;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.switch-tag span{
  position: absolute;
  top: -40px;
  left: 120%;
  width: fit-content;
  white-space: nowrap;
  display: block;
  line-height: 1;
  padding: 6px;
  color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: #07cc74;
}

.switch-tag span::before{
  content: "";
  color: #ffffff;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-wave-left-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 14h-4v-4" /><path d="M21 12c-.887 1.284 -2.48 2.033 -4 2c-1.52 .033 -3.113 -.716 -4 -2s-2.48 -2.033 -4 -2c-1.52 -.033 -3 1 -4 2l-2 2" /></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.pricing-wrapper {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pricing-card {
  border: 2px solid #ebebeb;
  padding-inline: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-style: dashed;
}

.pricing-card::after {
  content: "";
  background-color: #002a4d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  aspect-ratio: 1/1;
  transform: scale(0);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
  --s: 8px; /* control the size*/
  --c1: #051624;
  --c2: #000000;
  background: linear-gradient(135deg, #0000 18.75%, var(--c1) 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, var(--c1) -6.25% 6.25%, var(--c2) 0 18.75%);
  background-size: var(--s) var(--s);
  /* background-size: cover; */
}

.pricing-setup {
  transition: transform 0.5s ease-in-out;
  transform: translateY(-0%);
}

.show-yearly {
  transform: translateY(-56%);
}

.pricing-teg-wreppr {
  max-height: 40px;
  overflow: hidden;
  /* margin-bottom: 15px; */
}

.pricing-tag {
  z-index: 3;
  display: flex;
  gap: 5px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
  width: fit-content;
  transition: clip-path 0.5s ease-in-out;
}

.pricing-number {
  font-size: 40px;
  line-height: 1;
  transition: color 0.5s ease-in-out;
}

.pricing-life {
  align-self: flex-end;
  font-size: 18px;
}

.card-type-icon {
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.card-type-icon svg {
  width: auto;
  color: #000;
  display: block;
  height: 22px;
}

/* .card-type-icon img {
  width: auto;
  display: block;
  height: 22px;
} */

.card-type-wrepr {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 14px;
}

.card-type {
  color: black;
  transition: color 0.5s ease-in-out;
  font-weight: 600;
  font-size: 24px;
}

.pricing-desc {
  margin-bottom: 14px;
}

.pricing-desc p {
  transition: color 0.5s ease-in-out;
}

.yearly {
  display: none;
}

.btn-top-auto {
  margin-top: auto;
}

.btn-primary,
.btn-seconary {
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  background-color: #000;
  text-align: center;
  padding: 12px 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.btn-primary::after,
.btn-seconary::after {
  content: " ";
  height: 100%;
  width: 0;
  position: absolute;
  background-color: #07cc74;
  transition: all 0.4s ease-in-out;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-primary:hover::after,
.btn-seconary :hover::after {
  width: 100%;
  left: 0;
}

.pricing-list {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #ebebeb;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 24px;
  border-top-style: dashed;
}

.pricing-card-btn {
  margin-top: auto;
}

.pricing-list-item {
  color: #000000;
  transition: color 0.5s ease-in-out;
  display: flex;
  gap: 8px;
}

.pricing-card.popular-pricing .pricing-list-item::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g fill-rule="evenodd" clip-rule="evenodd"><path fill="%2307cc74" d="M256 0C114.8 0 0 114.8 0 256s114.8 256 256 256 256-114.8 256-256S397.2 0 256 0z" opacity="1" data-original="%23ffffff" class=""></path><path fill="%23ffffff" d="M379.8 169.7c6.2 6.2 6.2 16.4 0 22.6l-150 150c-3.1 3.1-7.2 4.7-11.3 4.7s-8.2-1.6-11.3-4.7l-75-75c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0l63.7 63.7 138.7-138.7c6.2-6.3 16.4-6.3 22.6 0z" opacity="1" data-original="%23ffffff" class=""></path></g></g></svg>');
}
.pricing-list-item::before {
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g fill-rule="evenodd" clip-rule="evenodd"><path fill="%23000000" d="M256 0C114.8 0 0 114.8 0 256s114.8 256 256 256 256-114.8 256-256S397.2 0 256 0z" opacity="1" data-original="%234bae4f" class=""></path><path fill="%23ffffff" d="M379.8 169.7c6.2 6.2 6.2 16.4 0 22.6l-150 150c-3.1 3.1-7.2 4.7-11.3 4.7s-8.2-1.6-11.3-4.7l-75-75c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0l63.7 63.7 138.7-138.7c6.2-6.3 16.4-6.3 22.6 0z" opacity="1" data-original="%23ffffff" class=""></path></g></g></svg>');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
}

.pricing-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.pricing-card.popular-pricing {
  background-image: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
  border: #f1f8e8;
  
  border-style: dashed;
  position: relative;
}

.pricing-card.popular-pricing .pricing-number,
.pricing-card.popular-pricing .pricing-life,
.pricing-card.popular-pricing .pricing-desc,
.pricing-card.popular-pricing .pricing-list-item,
.pricing-card.popular-pricing .card-type-icon svg ,
.pricing-card.popular-pricing .card-type {
  color: #ffffff;
}

.popular-teg{
  position: absolute;
  top: -14px;
  background-color: #07cc74;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 30px;
  line-height: 1;
  right: 36px;
}

.not-used::before ,.pricing-card.popular-pricing .not-used::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"  x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path fill="%23f44336" d="M256 0C114.836 0 0 114.836 0 256s114.836 256 256 256 256-114.836 256-256S397.164 0 256 0zm0 0" opacity="1" data-original="%23f44336" class=""></path><path fill="%23fafafa" d="M350.273 320.105c8.34 8.344 8.34 21.825 0 30.168a21.275 21.275 0 0 1-15.086 6.25c-5.46 0-10.921-2.09-15.082-6.25L256 286.164l-64.105 64.11a21.273 21.273 0 0 1-15.083 6.25 21.275 21.275 0 0 1-15.085-6.25c-8.34-8.344-8.34-21.825 0-30.169L225.836 256l-64.11-64.105c-8.34-8.344-8.34-21.825 0-30.168 8.344-8.34 21.825-8.34 30.169 0L256 225.836l64.105-64.11c8.344-8.34 21.825-8.34 30.168 0 8.34 8.344 8.34 21.825 0 30.169L286.164 256zm0 0" opacity="1" data-original="%23fafafa"></path></g></svg>');
}

.pricing-card.popular-pricing .pricing-list {
  border: #ffffff;
  border-top-style: dashed;
}

/* .pricing-card.popular-pricing .card-type{
  color: #00AC8D;
} */

@media (max-width: 1023px) {
  .pricing-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }

  .pricing-tag {
    top: -22px;
  }

  .pricing-life {
    font-size: 14px;
  }

  .card-type {
    font-size: 20px;
  }
}

@media (max-width: 639px) {
  .pricing-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
